@charset "UTF-8";
body {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Noto Serif TC', serif;
    color: #333;
    background: url('images/Camino de Santiago.jpg') center center fixed; 
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background: radial-gradient(circle, rgba(99, 184, 255, 0.8), rgba(74, 144, 226, 0.8), rgba(30, 42, 120, 0.8));    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 2.5em;
    margin: 0;
}

.route-info {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

p {
    margin-bottom: 15px;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: #fff;
}

.image-container {
    text-align: center;
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.image-container p {
    margin: 10px 0;
}
.homeA {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #62bcad;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none;
}
.homeA:hover {
    background-color: #537e77;
}
.homeA {
    display: block;
}