@charset "UTF-8";
    body {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Noto Serif TC', serif;
    }
    .design-process, .design-images {
        margin: 30px;
    }

    .design-process ol {
        list-style-type: decimal;
        padding-left: 20px;
    }

    .image-container {
        margin-top: 20px;
        text-align: center;
    }

    .image-container img {
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }

    .image-container img:hover {
        transform: scale(1.1);
    }

    .image-container p {
        margin: 10px 0;
        font-style: italic;
    }

    body, h1, h2, p, ol, ul, li, form, textarea, input, img {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Noto Serif TC', serif;
        line-height: 1.6;
        background: linear-gradient(to top right, #ffffff,#9d9d9d);

        color: #333;
    }
    
    header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1em;
    }
    
    section {
        margin: 20px;
    }
    
    .design-process ol {
        list-style-type: decimal;
        margin-left: 20px;
    }
    
    .design-process li {
        margin-bottom: 10px;
    }
    
    form {
        margin-top: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    textarea {
        width: 100%;
        height: 150px;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    
    input[type="submit"] {
        padding: 10px;
        background-color: #62bcad;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #537e77;
    }
    
    .design-images {
        text-align: center;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .image-container img {
        margin: 0 10px 10px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: transform 0.3s;
    }
    
    .image-container img:not(:last-child) {
        margin-right: 10px;
    }
    
.homeA {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #62bcad;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none;
}
.homeA:hover {
    background-color: #537e77;
}
.homeA {
    display: block;
}