@charset "UTF-8";
body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Noto Serif TC', serif;
}

/*選單*/
body {
    margin: 0;
    padding: 0;
}
nav {
    background-color:rgba(0, 52, 119, 0.956);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu li {
    margin: 0;
}
.menu a {
    text-decoration:none;
    color: white;
    padding: 15px;
    display: block;
    position: relative;
}
.menu a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 7px;
    background-color: transparent;
    transition: background-color 0.3s;
}
.menu a:hover::after {
    background: linear-gradient(to top right, rgb(255, 239, 94), #f88716);
}
/*header*/
header {
    position: relative;
    text-align: center;
    color: white;
    background-image: url('./images/Camino de Santiago.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0;
    font-size: 3em;
    color: #ffffff; text-shadow: -1.5px -1.5px 0 #fdc7c7, 1.5px 1.5px 0#ae0101;
}
#aa{
    margin: 10px 0;
}
header img {
    width: 40%;
    height: auto;
}
/*more*/
.more a{
    margin: 0;
    background: linear-gradient(to top right, rgb(250, 237, 120), #f3881d);
    color:#fff;
    text-decoration:none;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.more a:hover {
    box-shadow: 
    0 0 0 3px #fff inset, 0 0 0 3px rgba(1, 68, 155, 0.956),  0 0 0 6px#91d6f8;
}
/*扇貝*/
#pointer{
    text-align: center;
}
/*文繞圖*/
.imgl{
    float: left;
    margin-right: 20px;
}
.imgr{
    float: right;
    margin-left: 20px;
}
.clearfix{
    content: "";
    display: block;
    clear: both;
}
h2{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #ffffff; text-shadow: -1px -1px 0 rgb(15, 76, 157), 1px 1px 0 #ba0d0d;
}
/*imgl*/
#CaminodelNorte{
    background-color:rgba(0, 52, 119, 0.956);
    content: '';
    display: block;
    clear: both;
    height: 300px;
    padding: 50px 0;
}
#CaminodelNorte h2 {
    color: rgba(0, 52, 119, 0.956); text-shadow: -1px -1px 0	#93dede, 1px 1px 0 #f9c7c7;
}
#CaminodelNorte p {
    color: #fff;
}

#VíadalaPlata{
    background-color:rgba(0, 52, 119, 0.956);
    content: '';
    display: block;
    clear: both;
    height: 300px;
    padding: 50px 0;
}
#VíadalaPlata h2 {
    color: rgba(0, 52, 119, 0.956); text-shadow: -1px -1px 0	#93dede, 1px 1px 0 #f9c7c7;
}
#VíadalaPlata p {
    color: #fff;
}

#CaminoPortugués{
    background-color:rgba(0, 52, 119, 0.956);
    content: '';
    display: block;
    clear: both;
    height: 300px;
    padding: 50px 0;
}
#CaminoPortugués h2 {
    color: rgba(0, 52, 119, 0.956); text-shadow: -1px -1px 0	#93dede, 1px 1px 0 #f9c7c7;
}
#CaminoPortugués p {
    color: #fff;
}

/*imgr*/
#CaminoFrancés{
    background-color: rgba(255, 255, 255, 0.77);
    content: '';
    display: block;
    clear: both;
    height: 300px;
    padding: 50px 0;
}
#CaminoFrancés p {
    color: #000000;
}

#CaminoPrimitivo{
    background-color: rgba(255, 255, 255, 0.77);
    content: '';
    display: block;
    clear: both;
    height: 300px;
    padding: 50px 0;
}
#CaminoPrimitivo p {
    color: #000000;
}
/*footer*/
#footer {
    background-color: #000000cf;
    color: #c8c8c8e1;
    padding: 50px;
    text-align: left;
    clear: both; 
}
#bb, #cc {
    display: inline-block;
    width: 45%;
}
#cc {
    float: right;
}
#footer a{
    color: #c8c8c8e1;
}
#footer a:hover{
    cursor: pointer;
} 

#form {
    text-align: center;
}
table {
    margin: auto; 
}