@charset "UTF-8";
body, h1, table {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6dbeb;
    font-family: 'Noto Serif TC', serif;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #e7e6ec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
    border: 1px solid #ccc9c9;
}

th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

td:nth-child(2) {
    padding-top: 15px;
    padding-bottom: 15px;
}

td:nth-child(2) ul {
    list-style: none;
}

td:nth-child(2) li {
    margin-bottom: 5px;
    color: #555;
}

td:nth-child(2) ul {
    list-style: none;
}

td:nth-child(2) li {
    margin-bottom: 5px;
    color: #555;
}

td:nth-child(2) ul {
    list-style: none;
}

.homeA {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #62bcad;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none;
}
.homeA:hover {
    background-color: #537e77;
}
.homeA {
    display: block;
}