@charset "UTF-8";
/*字體*/
body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Noto Serif TC', serif;
}
h1{
    color: #7180cb; text-shadow: -1px -1px 0 #fff, 1px 1px 0#070558;
    padding-top: 30px;
    
}
/*外底色*/
body{
    background-color: rgb(228, 240, 250);
    text-align: center;
}
/*內容區塊*/
main{
    margin: 160px;
    margin-top: 120px;
    padding: 60px 50px;
    background-color: #fff;
    text-align: center;
}
.scale01 img {
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease;
}

.scale01 img:hover {
    transform: scale(0.95);
}

.box li{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

i{
    color: rgb(105, 134, 164);
}

imgl{
    width: 200px;
    float: right;
    margin-right: 20px;
}
imgc{
    width: 200px; 
}
imgr{
    width: 200px;
    float: left;
}

body p{
    clear: both;
    font-size: large;
}
ul{
    list-style: none;
    margin-left: 95px;
}
.homeA {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #62bcad;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none;
}
.homeA:hover {
    background-color: #537e77;
}
.homeA {
    display: block;
}