@charset "UTF-8";
/*字體*/
body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Noto Serif TC', serif;
}
h1{
    color: #fff;
    padding-top: 180px;
}
/*外底色*/
body{
    /*底色*/
    background-color: rgb(228, 240, 250);
    text-align: center;
    /*底圖*/
    background-image: url(images/朝聖之路.jpg);
    background-repeat: no-repeat;
    background-position: top;

    background-size: 1550px 600px;
}
/*內容區塊*/
main{
    margin: 160px;
    margin-top: 120px;
    padding: 60px 50px;
    background-color: #fff;
    text-align: center;
}
.bdi{
    border: 24px solid #f6ed99;
}
.scale01 img {
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease; 
}
.scale01 img:hover {
    transform: scale(1.3);
}

.homeA {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #62bcad;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none;
}
.homeA:hover {
    background-color: #537e77;
}
.homeA {
    display: block;
}